In [1]:
# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
		'Age':[27, 24, 22, 32], 
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
		'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
		'Mobile No': [97, 91, 58, 76]} 
	
# Define a dictionary containing employee data 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
		'Age':[22, 32, 12, 52], 
		'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
		'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
		'Salary':[1000, 2000, 3000, 4000]} 

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame 
df1 = pd.DataFrame(data2, index=[2, 3, 6, 7])

In [6]:
print(df, "\n\n", df1)

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
2  Gaurav   22  Allahabad           MCA    1000
3    Anuj   32    Kannuaj           Phd    2000
6  Dhiraj   12  Allahabad          Bcom    3000
7  Hitesh   52    Kannuaj        B.hons    4000

In [7]:
# using a .concat() method
frames = [df, df1]
res = pd.concat(frames)
print(res)

     Name  Age    Address Qualification  Mobile No  Salary
0     Jai   27     Nagpur           Msc       97.0     NaN
1  Princi   24     Kanpur            MA       91.0     NaN
2  Gaurav   22  Allahabad           MCA       58.0     NaN
3    Anuj   32    Kannuaj           Phd       76.0     NaN
2  Gaurav   22  Allahabad           MCA        NaN  1000.0
3    Anuj   32    Kannuaj           Phd        NaN  2000.0
6  Dhiraj   12  Allahabad          Bcom        NaN  3000.0
7  Hitesh   52    Kannuaj        B.hons        NaN  4000.0

In [9]:
print(df.loc[2],"\n", df1.loc[2])

Name                Gaurav
Age                     22
Address          Allahabad
Qualification          MCA
Mobile No               58
Name: 2, dtype: object
 Name                Gaurav
Age                     22
Address          Allahabad
Qualification          MCA
Salary                1000
Name: 2, dtype: object

In [13]:
dfM = pd.merge(df, df1, on='Name', how='outer')

In [14]:
print (dfM)

     Name  Age_x  Address_x Qualification_x  Mobile No  Age_y  Address_y  \
0    Anuj   32.0    Kannuaj             Phd       76.0   32.0    Kannuaj
1  Dhiraj    NaN        NaN             NaN        NaN   12.0  Allahabad
2  Gaurav   22.0  Allahabad             MCA       58.0   22.0  Allahabad
3  Hitesh    NaN        NaN             NaN        NaN   52.0    Kannuaj
4     Jai   27.0     Nagpur             Msc       97.0    NaN        NaN
5  Princi   24.0     Kanpur              MA       91.0    NaN        NaN

  Qualification_y  Salary
0             Phd  2000.0
1            Bcom  3000.0
2             MCA  1000.0
3          B.hons  4000.0
4             NaN     NaN
5             NaN     NaN